/*Estilos principales*/
*{
    margin:0;

}

body{
    background:url('../img/moroccan-flower-dark.webp');
}

@font-face {
    font-family: 'Climate Crisis', cursive;
    src: url('../fonts/ClimateCrisis-Regular.ttf');
}

/*Estilos generales*/
h1{
    color: aqua;
    background-color: brown;
    font-family: 'Shad Into Light', cursive;
}

a{
    background-color: burlywood;
}

p{
    background-color: black;
    color: white;
    font-family: 'Climate Crisis', cursive;
}

.renglon{
    background-color: red;
}

.letra{
    color: green;
}

div{
    width: 100px;
    background-color: aquamarine;
    height: 100px;
    /*margin: 300px; esto es un comentario
    margin-left: 50px;
    margin-top: 50px;
    */
    margin: 50px 0 0 50px;
    border: 10px solid red;
    border-radius: 50px;
}

/*Responsive design telefono*/
@media screen and (max-width: 480px){
    body{
        background:url('../img/watercolor.webp');
    }
    

}

@media screen and (min-width: 481px) and (max-width: 760px){
    body{
        background:url('../img/more-leaves-on-green.png');
    }
    
}

@media screen and (min-width: 761px){
    body{
        background:url('../img/moroccan-flower-dark.webp');
    }
    
}

@media (min-width: 80xp){
    
}

h1 {
    background-color: darkblue;
}

header {
    
}
section {
    
}
footer {
    
}