
*{
    margin:0;

}
h1{
    color: aqua;
    background-color: brown;
}

li{
    background-color: blueviolet;

}

a{
    background-color: burlywood;
}

p{
    background-color: black;
    color: white;
}

.renglon{
    background-color: red;
}

.letra{
    color: green;
}

div{
    width: 100px;
    background-color: aquamarine;
    height: 100px;
    /*margin: 300px; esto es un comentario*/
}